.tag-list {
  padding: 0 14px;

  &__title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #808080;
  }

  &__items {
    text-align: center;
  }
}
