.card {
  background-color: #fff;
  padding: 23px 26px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.card-item {
  position: relative;
}

.card-item:after {
  content: "";
  background-color: #e7e7e7;
  width: 1px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
