.navbar {
  background-color: #0063b1;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 17px;
  font-size: 18px;
  color: #fff;
}

.avatar {
  background-color: #f9f9f9;
  width: 32px;
  height: 32px;
  margin-right: 31px;
  border-radius: 100%;
  display: flex;
}
