@import "fonts.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Segoe UI", sans-serif;
  height: 100%;
}

.content {
  display: flex;
  flex-flow: row;
}
